a {
    text-decoration: none;
}

.manga_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    border-style: double;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(10, auto);

    background-image: url("/pic/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.manga {
    /* flex-grow: 1; */
    border-style: dotted;
    display: grid;
    width: 230px;
    height: 350px;
    overflow: hidden;
    resize: both;
}

.command {
    color: rgb(199, 239, 53);
    font-size: 40px;
    text-decoration: none;
}

.command:visited {
    color: rgb(12, 255, 255);

}

.manga_name {
    font-size: 30px;
    color: rgb(138, 28, 248);
    line-height: 90%;
    word-break: break-all;
    text-align: center;
}


/* .small_pic:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
    
}
*/

/* .small_pic {
    opacity: 1.0;
    filter: alpha(opacity=100);
    width: 230px;
    height: 350px;
    overflow: hidden;
    align-content: center;
   
} */

.pic_div {
    height: 300px;
    align-self: center;
    align-content: center;
    overflow: hidden;
}

.pic {
    width: 100%;
    align-self: center;
    align-content: center;
}


.goto_page {
    font-size: xx-large;
    border-style: dotted;
}